:root {
    --border-bottom: 2px solid lightblue;
    --shadow-lighter: 5px 5px 10px grey;
    --hover-shadow: 6px 6px 10px black;
}

* {
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    color: grey;
    border-bottom: var(--border-bottom);
    box-shadow: 0 0 15px;
    align-items: baseline;
    padding: 20px;
}

main {
    margin: 2%;
}

header h1 {
    font-size: 80px;
    padding: 20px;
}

section {
    font-size: 60px;
    padding-bottom: 30px;
}

h2 {
    font-size: 50px;
}

h5 {
    line-height: 1.8;
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 1.8;
}

header nav {
    margin-right: 20px;
}

header nav a{
    margin-left: 35px;
}

nav a:hover {
    color: greenyellow;
    text-decoration: none;
}

main section {
    padding: 30px;
    border-bottom: var(--border-bottom);
    display: flex;
    box-shadow: 0px 15px 15px -15px grey;
}

section a img, figure img {
    width: 100%;
    margin-right: 100px;
    margin-bottom: 2%;
    box-shadow: var(--shadow-lighter);
    min-width: 160px;
}

.application {
    max-width: 400px;
}

ul, a {
    font-size: 20px;
}

ul li a:hover {
    color: rgb(180, 88, 88);
}

ul li a:active {
    font-size: 98%;
}

main section article {
    width: 100%;
}

main section aside {
    margin-left: 4%;
}

aside a img:hover {
    box-shadow: var(--hover-shadow);
}

section a img:hover {
    box-shadow: var(--hover-shadow);
}

section-header, section-header h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 110, 110);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;

}

.border-left {
    padding: 0 15px;
    border-left: 10px solid lightblue;
}

.margin-top {
    margin-top: 10px;
}

.display-block {
    display: block;
}

.underline {
    text-decoration: underline;
    display: inline;
}

.display-inline {
    display: inline;
}

.side-application {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.side-image {
    width: 48%;
}

.side-image:hover {
    box-shadow: var(--hover-shadow);
}

@media screen and (max-width: 992px) {
    header {
      background: darkolivegreen;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        
    }

    nav a {
        text-decoration: none;
        color: lightblue;
    }

    body {
        background-color: darkgrey;
    }

}

@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;

    }

    header h1 {
        text-align: center;
    }

    .border-left {
        padding: 0px;
        border-left: 0px;
    }

    aside img {
        padding-top: 20px;
    }
}

@media screen and (max-width: 576px) {
    body {
        color:white;
        background-color: black;
    }

    header {
        background-color: rgb(87, 87, 87);
        display: flex;
        justify-content: space-between;
    }

    .side-application {
        display: flex;
        flex-direction: column;

    }

    .side-image {
        width: 100%;
        padding: 5% 0;
    }
}